.backButtonContainer {
  padding: 1rem;
  background-color: var(--color-dark--1);
  border-bottom: 1px solid var(--color-dark--2);
}

@media (max-width: 768px) {
  .backButtonContainer {
    position: sticky;
    top: 0;
    z-index: 10;
  }
}
