/* CityList.module.css - Add these responsive styles */
.cityList {
  width: 100%;
  height: 65vh;
  list-style: none;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

@media (max-width: 768px) {
  .cityList {
    height: 40vh;
    max-height: none;
    gap: 1rem;
  }
}

/* .cityList {
  width: 100%;
  height: 65vh;
  list-style: none;
  overflow-y: scroll;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.cityList::-webkit-scrollbar {
  width: 0;
} */
